* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner-section {
  padding: 20px 50px;
  background-image: url("/images/background/watercolor.png");
  min-height: 100vh;
}

.wish-section {
  background-image: url("/images/background/sakura.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em;
  height: 100vh;
}

.gallery-section {
  background-image: url("/images/background/let-there-be-sun.png");
  padding: 5em;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 30px;
  text-align: center;
  color: #F16AAB;
  text-shadow: 1px 1px 1px grey;
}

.error {
  padding: 10px;
  border: 1px solid red;
  color : white;
  background-color: red;
  margin : 20px 0px;
  border-radius: 10px;
}

.message {
  padding: 10px;
  border: 1px solid rgb(48, 215, 48);
  color : white;
  background-color: rgb(29, 215, 104);
  margin : 20px 0px;
  border-radius: 10px;
}

.warpper {
  background-color: rgb(25, 220, 223);
}

.container {
  /* padding: 30px; */
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.birthday-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-effect {
  width: 30%;
}

.text-effect h1 {
  color: #8336e9;
  font-size: 60px;
  text-shadow: 20px 20px 20px #F16AAB;
}

.text-effect h2 {
  text-shadow: 2px 2px 2px #000;
}

.text-effect p {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
}

.birthday-card-container {
  width: 70%;
}

.demoPage {
  background-color: rgb(143, 111, 232) !important;
}

/* swiper  */

.gallery-section h1 {
  text-align: center;
  font-size: 60px;
}


.swiper-slide img  {
  border-radius: 30px !important;
}

/* wish form  */

.wish-container {
  text-align: center;
}

.wish-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wish-container form {
  width: 600px;
  padding: 10px;
}

.wish-form input, textarea {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin: 10px 0px;
}

.wish-btn {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #F16AAB;
  color: white;
}

.success-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: #14db77;
  color: white;
}

/* gift  */

.gift-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0px;
}

.gift-item, .gift-selected{
  width: 33%;
  margin: 10px 0px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #F16AAB;
  padding: 8px;
  text-align: left;
}

.gift-item img, .gift-selected img {
  width: 100px;
}

.gift-item img:hover {
  transform: scale(1.2);
  border: 1px solid #F16AAB;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}

.gift-selected img {
  transform: scale(1.2);
  border: 1px solid #F16AAB;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

.gift-btn {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  border: none;
  background-color: #F16AAB;
  color: white;
}

.name {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
}

/* for mobile devices  */
@media only screen and (max-width: 600px) {
  .banner {
    flex-wrap: wrap;
  }

  .demoPage img, .demoPage {
    width: 300px !important;
  }

  .text-effect, .birthday-card-container {
    width: 100%;
    margin-top: 20px;
  }

  .banner-section {
    padding: 10px 50px;
  }

  .wish-section {
    flex-direction: column;
    padding:10px;
  }

  .wish-container form {
    width: 300px;
  }

  .gift-item img, .gift-selected img {
    width: 50px;
  }
  .gallery-section {
    padding : 10px;
  }

  .swiper-slide img {
    width: 200px;
  }
}
